/* General body styling */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background-color: #f1f1f1;
}

/* Hero Section */
.hero-section {
    padding: 40px;
    background-image: url('../photos/communitybanner.png'); /* Add your background image path here */
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5; /* Fallback color */
    height: 300px; 
    padding-top: 160px; /* Adds space to show the banner image clearly */
    padding-bottom: auto;
    align-items: center;
    text-align: center;
    border: 1px transparent;
    border-radius: 0 0 50px 50px;
}


.hero-section h1 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: black;
}

.hero-section h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
    color: black; /*SAME BODY CHOOSE A COLOR HERE#########################################################################*/
}
.cta-button {
    margin-top: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #DC4441;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: #FF6F61;
}

/* Features Section */

.features-section {
    padding: 40px;
    text-align: center;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

.feature-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 20%;
    text-align: center;
    border: solid;
    border-radius: 5px;
    border-color: #DC4441
    
}

.feature-box h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.feature-box {
    background-color: rgba(245, 222, 179, 0.8); /* Sandish white with 50% transparency */
    padding: 20px;
    border-radius: 8px; /* Optional: gives a rounded corner effect */
    color: #333; /* Adjust text color for readability */
    margin: 10px;
}
/* Team Section */
.team {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.team-description {
    width: 60%;
}

.team-description h2 {
    margin-bottom: 10px;
}

.team-image {
    width: 30%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}


