/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    user-select: none;
    background-color: #e5e5e5;
}

/* Hero Section with Background Image */
.hero-section {
    background-image: url('../photos/hero-banner.jpg'); /* Add your background image path here */
    background-size: cover;
    background-position: center;
    background-color: #97AACE; /* Fallback color */
    height: 100vh; /* Full viewport height */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: transparent;
    border-radius: 0 0 100px 100px;
}
/* Main Headline styling */
.hero-section h1 {
    font-size: 128px;
    font-family: "Sedgwick Ave Display", Static ;
    color: white;
    margin: 0;
    letter-spacing: 2px;
}

/* Secondary Headline styling */
.hero-section h2 {
    font-size: 24px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Call-to-Action Button */
.cta-button {
    padding: 10px 15px;
    font-size: 24px;
    color: white;
    background-color: #DC4441;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover, .cta-button:focus {
    background-color: #FF6F61;
    outline: 2px solid #FF6F61;
}

.cta-button:focus-visible {
    outline: 3px dashed #FF6F61; 
}
/* Benefit Section Styling*/

.benefit-section {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}


.benefit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px; 
    margin: 15px 0; 
}

.benefit-content {
    flex: 1;
    margin-right: 20px;
}

.benefit-item h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FF595E;
}

.benefit-item p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 50px;
}
.benefit-image {
    margin: 50px 20px 50px 0;
}
.benefit-image img {
    max-width: 600px;
    height: auto;
}

.benefit-image img:hover {
    transform: translateY(-10px) rotate(2deg); 
    opacity: 0.9;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease;
}

/* Our mission Section Styling */
.our_mission {
    background-color: #008CC9;
    color: #e5e5e5;
    border: transparent;
    border-radius: 50px 50px 0 0;
}
.our_mission-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px; 
}

.our_mission-content h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #e5e5e5;
}
.our_mission-content p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 50px;
}
.our_mission-image {
    margin: 100px 0 ; 
}

.our_mission-image img {
    max-width: 600px;
    height: auto;
}

.our_mission-image img:hover {
    transform: translateY(-10px) rotate(2deg); 
    opacity: 0.9;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease;
}

/* Why Us Section Styling */
.why_us {
    background-color: #97AACE;
    color: #e5e5e5;
    border: transparent;
}

.why_us-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px; 
}

.why_us-content h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #e5e5e5;
}
.why_us-content p {
    margin-bottom: 50px;
}

.why_us-content ul li {
    font-size: 18px;
    line-height: 2.5;
}

.custom-list li i {
    margin-right: 10px; /* Space between icon and text */
    color: #e5e5e5; /* Customize color */
    font-size: 24px; /* Customize size */
}

.custom-list {
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.custom-list li {
    position: relative;
    padding-left: 35px; /* Space for the icon */
    margin-bottom: 15px; /* Optional: space between list items */
}
.why_us-image {
    margin: 200px 0 ; 
}

.why_us-image img {
    max-width: 600px;
    height: auto;
}