
/* Navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008CC9;
    padding: 10px 20px;
    border-bottom: 1px solid #E5E5E5;
    font-family: "Inter", sans-serif;
}

nav .logo a {
    text-decoration: none;
    color: #fff;
}

nav .logo img {
    width: 100px;
    height: auto;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #E5E5E5;
    color: #008CC9;
    border: 1px solid;
    border-radius: 5px;
    text-decoration:non;
}

.nav-bar li a:hover {
    background-color: #ddd;
}

.nav-actions a {
    text-decoration: none;
    padding: 10px 15px;
    color: #008CC9;
    background-color: #E5E5E5;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-actions a:hover {
    background-color: #ddd;
}

