
/* Navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008CC9;
    padding: 10px 20px;
    border-bottom: transparent;
    font-family: "Inter", sans-serif;
    user-select: none;
}

nav .logo a {
    text-decoration: none;
    color: #fff;
}

nav .logo img {
    width: 150px;
    height: auto;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    color: #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    text-decoration:none;
    text-align:center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.nav-bar li a:hover {
    transform: translateY(-3px);
    background-color: #FF595E;
    border-radius: 5px;
    transition: 0.3s color ease, transform 0.3s ease;
}

.nav-actions a {
    text-decoration: none;
    padding: 10px 15px;
    color: #008CC9;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-actions a:hover {
    background-color: #FF595E;
    color: #fff; /* Optional: Change text color */
    border-bottom: 1px solid #E5E5E5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

